---
import ContentSection from "~/components/content-section.astro";
import CompatibilityList from "~/components/compatibility-list.astro";

const frameworks = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Preact",
    icon: "frameworks/preact",
    url: "https://preactjs.com/",
  },
  {
    title: "Svelte",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
  {
    title: "Vue",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
  {
    title: "Solid",
    icon: "frameworks/solid",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Lit",
    icon: "frameworks/lit",
    url: "https://lit.dev/",
  },
];

const platforms = [
  {
    title: "Wordpress",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Wix",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Squarespace",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Shopify",
    icon: "platforms/render",
    url: "https://render.com/",
  },
  {
    title: "Dukaan",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="Compatibility" id="compatibility">
  <Fragment slot="lead">
    YourSpace <span class="text-primary">plays nice</span>. Bring your own UI{" "}
    <span class="text-primary">framework</span>
    OR use your favorite <span class="text-primary">no code platform</span>.
  </Fragment>
  <CompatibilityList
    title="Frameworks"
    data={frameworks}
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    title="Platforms"
    data={platforms}
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
