---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "Bring Your Own Framework",
    description:
      "Use Discuss with React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "mdi:handshake",
  },
  {
    title: "Support decentralized social media protocols",
    description:
      "User can use their Lens, Farcaster, ENS, Twitter or many other On Chain and Off Chain profiles to interact with Discuss",
    icon: "mdi:feather",
  },
  {
    title: "Fully Customizable Interface",
    description:
      "Want your own UI instead of ours? You are totally free to do that, use our functions to send and receive messages and put your own UI",
    icon: "mdi:directions-fork",
  },
  {
    title: "No Code Integration",
    description:
      "Don't know how to code? Build your own engagment tool using our no code builder and integrate it anywhere with just few lines of code or just by installing a plugin",
    icon: "mdi:graph",
  },
  {
    title: "Analytics",
    description:
      "Get better view into your audiences and truly understand your audiences, which was missing from web3 all this time!",
    icon: "mdi:search-web",
  },
  {
    title: "Community",
    description:
      "Discuss is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    Discuss comes <span class="text-primary">batteries included</span>. It takes
    the best parts of
    <span class="text-primary">centralized and decentralized</span>
    systems and adds its own <span class="text-primary">innovations</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 p-6 border border-default bg-offset">
          <div class="w-16 h-16 p-3 border-2 border-current rounded-full">
            <Icon name={icon} />
          </div>
          <p class="text-xl font-extrabold text-center">{title}</p>
          <p class="text-sm text-center text-offset">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
